## Other settings

# This adds the 'respond' G-Code that you can use to send commands back to OctoPrint
[respond]
default_type: echo

# This enables a 'force_move' command ignoring all homing, Z-stops etc. Useful in debugging.
[force_move]
enable_force_move: True

# Enable status panel messages
[display_status]

# This adds pause/resume support
[pause_resume]

# add virtual sd card
[virtual_sdcard]
path: ~/sdcard

[idle_timeout]
timeout: 600
gcode:
    TURN_OFF_HEATERS
    M84

# Support for gcode arc (G2/G3) commands.
[gcode_arcs]
resolution: 0.12

# Enables G10 (retract) and G11 (unretract) GCODE commands
[firmware_retraction]
retract_length: 3
retract_speed: 20
unretract_extra_length: 0
unretract_speed: 10

# Enable the "M118" and "RESPOND" extended commands.
[respond]
default_type: echo
default_prefix: echo:
