## Other settings

# This enables a 'force_move' command ignoring all homing, Z-stops etc. Useful in debugging.
[force_move]
enable_force_move: True

[idle_timeout]
timeout: 600
gcode:
    TURN_OFF_HEATERS
    M84

# Support for gcode arc (G2/G3) commands.
[gcode_arcs]
resolution: 0.12

# Enables G10 (retract) and G11 (unretract) GCODE commands
[firmware_retraction]
retract_length: 3
retract_speed: 20
unretract_extra_length: 0
unretract_speed: 10

# Enable the "M118" and "RESPOND" extended commands.
[respond]
default_type: echo
default_prefix: echo:
